<div class="about-container">
    <h1>About</h1>
    <p>
      This Weather App was created as a simple project to demonstrate and exercise DevOps practices. The app provides current weather information for cities around the world using a free weather API. With a modern, minimalistic design and user-friendly interface, it aims to enhance the overall user experience.
    </p>
    <p>
      The app is built using Angular, and showcases responsive design, API integration, and routing features.
    </p>
    <a routerLink="/">Back to Weather</a>
</div>
  